# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# # Pa11y / audit outputs
# audit.json
# audit.csv
# pa11yci-generated.json

# Optional: screenshots if you add them later
screenshots/

# Temp files
*.tmp
*.log